
<div class ="container form">
 <div class= "form-horizontal">
  <div class ="form-group">
<%= form_tag("/chess/", method: "post") do %>
  <%= label_tag("PLAYER NAME:")%>
  </div>
  <div class ="form-group">
   <%= text_field_tag :name, nil, placeholder: "Challenger Name"%>
  </div>
  <div class ="form-group">
   
    <%= radio_button_tag(:color, "white", checked: true) %>
    <%= label_tag(:color_me, "White") %>
    <%= radio_button_tag(:color, "black") %>
    <%= label_tag(:color_me, "Black") %>

  </div>
  <div class ="form-group">
    <%= submit_tag("None Shall Pass!", {class: "pre-button"}) %>
</end>
<% end %>
</div>
</div>